/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/*
  ----- VARIABLES -----
*/

:root {
  --searchbar-bg-clr: #1e1e1e;
  --search-form-text-clr: #8d8d93;
  --cancel-search-btn-text-clr: #fefffe;
  --searchbar-options-list-font-size: 16px;
  --search-form-main-font-size: 14px;
}
/*
  ----- BODY -----
*/

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
}
/*
  ----- WEATHER DASHBOARD -----
*/
.weather-dashboard {
  background-image: url("./assets/backgrounds/Background.png");
  height: 100vh;
  padding: 15px 30px;
}
/*
  ----- HEADER -----
*/
.header {
  display: flex;
  margin-bottom: 10px;
}

/*
  ----- SEARCH BAR FORM -----
*/
.location-search-form {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid black;
  border-radius: 7px;
  height: 30px;
  padding: 0 5px 0 10px;
  font-size: var(--search-form-main-font-size);
  width: 100%;
  transition: width 500ms;
  background-color: var(--searchbar-bg-clr);
  z-index: 1;
}

/*
  ----- SEARCH BAR INPUT -----
*/
.location-search-form__searchbar {
  width: 100%;
  border: none;
  outline: none;
  color: #fefffe;
  background-color: var(--searchbar-bg-clr);
}

.location-search-form__searchbar::placeholder {
  color: var(--search-form-text-clr);
}

.searchbar__search-icon {
  height: 13px;
  width: 13px;
}

/*
  ----- CLEAR SEARCH BAR BTN -----
*/
.searchbar__clear-searchbar-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  display: none;
}

.searchbar__clear-searchbar-btn:hover {
  cursor: pointer;
}

.clear-searchbar-btn__icon {
  height: 20px;
  width: 20px;
}

/*
  ----- AUTOFILL OPTIONS LIST -----
*/
.searchbar__autofill-options-list {
  display: none;
  position: absolute;
  left: 0px;
  top: 45px;
  gap: 10px;
  flex-direction: column;
  list-style: none;
  padding: 10px 10px 10px 0;
  font-size: var(--searchbar-options-list-font-size);
  color: var(--search-form-text-clr);
  z-index: 1;
}

.option__char.white {
  color: white;
}

.autofill-options-list__option {
  padding: 0 42px;
  width: 100vw;
}

.autofill-options-list__option:hover {
  cursor: pointer;
}

/* Loading Spinner */
.spinner {
  text-align: center;
  height: 40px;
  width: 40px;
  border: 3px solid;
  border-color: white transparent white transparent;
  border-radius: 50%;
  animation: spin 1.2s ease infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*
  ----- CANCEL SEARCH BTN -----
*/

.header__cancel-search-btn {
  border: none;
  background-color: transparent;
  color: var(--cancel-search-btn-text-clr);
  z-index: 1;
  padding: 0;
  margin-left: 8px;
  font-size: 14px;
}

.header__cancel-search-btn:hover {
  cursor: pointer;
}

/*
  ----- MAIN -----
*/

/*
  ----- WEATHER DASHBOARD -----
*/

.weather-dashboard {
  height: 100vh;
  background-size: cover;
  overflow: scroll;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/*
  ----- CURRENT WEATHER -----
*/

.current-weather {
  height: 200px;
  place-content: center;
  color: white;
  text-align: center;
  border-radius: 5px;
  display: none;
}

.current-weather__city {
  font-size: 25px;
}

.current-weather__temperature {
  font-size: 60px;
  font-weight: 100;
}

.current-weather__condition {
  font-size: 16px;
}

.current-weather__high-low {
  font-size: 16px;
  display: flex;
  gap: 5px;
  justify-content: center;
}

/*
  -----   3 DAY FORECAST -----
*/

.weather-forecast {
  display: none;
  border-radius: 5px;
  grid-area: forecast;
}

.weather-forecast__title {
  color: #ababc4;
  font-size: 12px;
  text-align: center;
  margin-bottom: 15px;
}

.weather-forecast-data {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  background-color: rgba(181, 181, 197, 0.292);
  border-radius: 5px;
  padding: 10px 0;
}

.weather-forecast-data__forecast-item {
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  width: 75px;
}

.forecast-item__condition-icon {
  width: 50px;
  height: 50px;
}

.forecast-item__high-low {
  text-align: center;
}

.forecast-item__high-low--high {
  font-size: 16px;
  font-weight: bold;
}

.forecast-item__high-low--low {
  font-size: 14px;
}

/*
  ----- WEATHER DETAILS -----
*/

.weather-details {
  display: none;
  grid-template-areas:
    "forecast forecast"
    "precipitation precipitation"
    "feels-like wind-speed"
    "humidity uv-index";
  color: white;
  gap: 10px;
  border-radius: 5px;
}

.weather-details__title {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.title__label {
  font-size: 12px;
}

.weather-details__item {
  background-color: rgba(181, 181, 197, 0.292);
  border-radius: 5px;
  padding: 10px;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.weather-details__data {
  font-weight: 600;
  font-size: 30px;
}

.weather-details__precipitation {
  grid-area: precipitation;
}

.weather-details__feels-like {
  grid-area: feels-like;
}
.weather-details__wind-speed {
  grid-area: wind-speed;
}
.weather-details__humidity {
  grid-area: humidity;
}
.weather-details__uv-index {
  grid-area: uv-index;
}

/*
  ----- SKELETON LOADING -----
*/

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

#skeleton {
  animation: skeleton-loading 400ms linear infinite alternate;
  display: block;
}

@media (max-width: 320px) {
  .location-search-form__searchbar {
    font-size: 12px;
  }

  .autofill-options-list__option {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .weather-details {
    grid-template-areas:
      "forecast forecast feels-like"
      "precipitation precipitation uv-index"
      "wind-speed wind-speed humidity";
  }

  .weather-details__feels-like {
    margin-top: 33px;
    height: 139px;
  }

  .header {
    justify-content: flex-end;
  }

  .location-search-form {
    max-width: 300px;
    min-width: none;
  }

  .searchbar__autofill-options-list {
    max-width: 350px;
    left: auto;
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
  }

  .autofill-options-list__option {
    padding: 0;
    max-width: 344px;
  }
}
